
/*Backgrounds*/
AnchorPane{
    -fx-background-color: #1D2C42;
}
VBox{
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #1D2C42;
}

RadioButton{
    -fx-text-fill: white;
}

.scroll-pane{
    -fx-background: #1D2C42;
    -fx-background-insets: 0;
}


.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

/*Tabs*/
.tab-pane{
    -fx-tab-min-height: 30px;
    -fx-tab-max-height: 40px;
    -fx-tab-min-width:140px;
}

.tab{
    
    -fx-background-color: #BCACA8;
    -fx-background-insets: 1;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    
}

.tab:selected{ 
    -fx-background-color:#696761;
}

/*ToolTips*/
.tooltip {
    -fx-background-radius: 3 3 3 3;
    -fx-background-color: bisque;
    -fx-text-fill: black;
}
